.table-title{
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    margin:30px 0px 16px 0px;
    font-weight: 600;
}
.table-head{
    background-color: #fafafa;
}
.teble-cell{
    text-align: start;
    font-family: 'Cairo', sans-serif;
}
.table-container{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 6px;
}
.details{
    font-size: 14px;

}
