
.icon{
    width:30px;
    height: 30px;
}
.step{
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[dir="ltr"] .step{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.h-separator{
    background-color: rgb(216, 216, 216);
    height: 8px;
    flex: 1;
}
.h-separator-red{
    background-color: #f40105;
    height: 8px;
    flex: 1;
}
.h-separator-green{
    background-color: #36b500;
    height: 8px;
    flex: 1;
}
.h-separator-orange{
    background-color: #f9ba02;
    height: 8px;
    flex: 1;
}
.step-marked{
    border-radius: 50px;
    width:fit-content;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-text{
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
}
.orange{
    border: 1px solid #f9ba02;
    background-color: #f9ba02;
}
.red{
    border: 1px solid #f40105;
    background-color: #f40105;
}
.green{
    border: 1px solid #36b500 ;
    background-color: #36b500 ;
}
.text-orange{
    color: #f9ba02;
}
.text-red{
    color: #f40105;
}
.text-green{
    color: #36b500 ;
}
